.spinner-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  border: 3px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-button .75s linear infinite;
}

.spinner-screen {
  display: inline-block;
  width: 120px;
  height: 120px;
  vertical-align: text-bottom;
  border: 7px solid #c5ec2a;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-button .75s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

.spinner-button::after {
  box-sizing: border-box;
}

@keyframes spinner-button {
  to {
    transform: rotate(360deg);
  }
}