MONGO_DB=fitfriends-users
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=test
MONGO_AUTH_BASE=admin

JWT_AT_SECRET=secret
JWT_AT_EXPIRES_IN=15m

JWT_RT_SECRET=refreshsecret
JWT_RT_EXPIRES_IN=7d
