<h2>Привет, тренеры на которых вы подписаны опубликовали новые тренировки:</h2>
<ul>
  {{#each workouts}}
    <li>
      тренер с id: {{@key}} - {{this.[length]}} новые(ая) тренировки(а)
    </li>
  {{/each}}
</ul>
